$borderBotColor: #e0e0e0;

@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

.card {
  @extend .contentArticle;
  border-bottom: 1px solid $borderBotColor;
  width: 565px;
  padding: 5px;
}

.contentArticle {
  @include flex(space-between, center);
}
.contentAuthor {
  @include flex(space-between, center);
}

.articleAvatar {
  display: block;
  width: 40px;
  margin-left: 10px;
}

.authorAvatar {
  display: block;
  width: 25px;
  margin-right: 10px;
}

.articleName {
  font-size: 1.2rem;
  margin-left: 10px;
}

.author {
  margin-right: 10px;
}

.container {
  text-align: center;
}

.searchField {
  margin: auto;
  margin-top: 20vh;
  max-width: 600px;
}

.wrapper-favorites {
  margin: auto;
  margin-top: 10px;
  border: 1px solid $borderBotColor;
  min-height: 150px;
  border-radius: 10px;
  max-width: 565px;
}

.wrapper {
  margin-top: 30px;
}

@media (max-width: 550px) {
  .wrapper {
    margin-top: 15px;
  }

  .wrapper-favorites {
    width: 255px;
  }
  .searchField {
    width: 300px;
  }
  .card {
    width: 100%;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .articleAvatar {
    width: 40px;
  }
  .authorAvatar {
    width: 20px;
  }
  .articleName {
    font-size: 1rem;
  }
  .author {
    font-size: 0.8rem;
  }
  .contentAuthor {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 320px) {
  .wrapper-favorites {
    width: 200px;
    min-height: 100px;
  }
  .searchField {
    width: 250px;
  }
  .card {
    width: 100%;
    min-width: 200px;
  }
  .articleName {
    font-size: 0.8rem;
  }
  .contentAuthor {
    display: none;
  }
  .articleAvatar {
    width: 25px;
  }
}
